/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/media/
!/public/media/demo
/public/uploads/submissions/
.phpstorm.meta.php
_ide_helper.php
