.inner-dropdown .inner-dropdown-item > a {
    font-size: 15px;
}

.inner-dropdown-item.active a{
    color: #FFF;

}

.inner-dropdown-item .dropdown-item.interactive a{
    border-bottom: none;
}

.breadcrumb {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
    background-color: #FFFFFF;
    margin-top: 10px;
}

@media screen and (max-width: 935px) {
    .section .content .headline.buttons:before, .dashboard-content .headline.buttons:before, .section .content .headline.buttons, .dashboard-content .headline.buttons {
        height: 120px !important;
    }
}

.dataTables_length {
    float: left;
    margin-right: 10px;
}

.dataTables_filter {
    float: right;
}

.alert h5 a {
    color: #3c8dbc !important;
}

.dropdown-menu > li > a {
    color: #777;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
    }
}

ul.list-inline li {
    display: inline-block;
    margin: 0 5px;
}

html body .p-10 {
    padding: 10px;
}

.pull-left {
    float: left;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    width: 100%;
}

.dropdown-menu > li > a > .glyphicon, .dropdown-menu > li > a > .fa, .dropdown-menu > li > a > .ion {
    margin-right: 0;
}

.dropdown-menu > li > a > .glyphicon, .dropdown-menu > li > a > .fa, .dropdown-menu > li > a > .ion {
    margin-right: 10px;
}

.fa-fw {
    width: 1.28571429em;
    text-align: center;
}

.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}

.open > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    box-shadow: none;
    border-color: #eee;
}

.db-flex {
    display: flex;
    justify-content: center;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.custom-small {
    padding-right: 5px;
}

.dropdown-menu > li > a:hover {
    background-color: #e1e3e9;
    color: #333;
}

.box {
    margin-top: 4px;
}

body {
    background-color: #f5f5f5;
}

.form-group.has-error .help-block {
    color: #dd4b39;
    font-weight: bolder;
    font-size: 13px;
}

.stats-meta {
    position: relative;
}

.custom-cart {
    padding-left: 4px;
    top: -8px;
    left: 14px;
    position: absolute;
    background: #eb668d;
    color: white;
    border-radius: 50%;
    padding-right: 4px;
}



ul.inner-dropdown > li.dropdown-item {
    padding-left: 0px !important;
}

ul.inner-dropdown > li.dropdown-item > a {
    padding-left: 0px !important;
    font-size: 14px;
    opacity: 0.6;
}

.nav-currency a {
    margin-right: 5px;
    border-radius: 2px;
}

.has-error input, .has-error textarea, .has-error .select2-selection, .has-error select {
    border-color: #dd4b39;

}

.custom-flex {
    display: flex;
}

#custom-header-cart {
    display: flex;
    justify-content: flex-end;
}

#custom-header-cart a {
    margin-right: 15px;
    position: relative;
}

.custom-icon .fa-bullhorn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#flex-language {
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-list {
    display: flex;
}

.user-name {
    font-size: 15px;
}

ul.language-list > li {
    margin-right: 10px;
}

.modal-header {
    display: flex;
    flex-direction: row-reverse;
}

.custom-header-dashboard {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.custom-header-dashboard a {
    margin-right: 15px;
    width: 60px;
}

.modal.show .modal-dialog {
    top: 100px;
}

.dropdown-item{
    padding: 0px;
}
.dropdown .dropdown-item > a {
    font-size: 15px;
}

.small-box, .info-box {
    border-radius: 15px;
    position: relative;
    display: block;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.bg-green {
    background-color: #00c292 !important;
}

.bg-blue {
    background-color: #03a9f3 !important;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-red {
    background-color: #e46a76 !important;
}

.small-box h3 {
    font-size: 38px;
    font-weight: 700;
    margin: 0 0 10px;
    white-space: nowrap;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
}

.small-box p {
    font-size: 15px;
    color: #FFFFFF;
}

.small-box > .small-box-footer:hover {
    color: #fff;
}

.small-box > .small-box-footer {
    text-align: right;
    display: block;
    color: #fff;
    margin-right: 10px;
}



.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ebebeb;
    border-radius: 0;
    margin: 10px 0px;

}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, .15);
}

.small-box:hover .icon {
    font-size: 95px;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border-radius: 10px;
    margin-bottom: 15px;
    color: #FFFFFF;
}

.info-box-icon {
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0, 0, 0, .2);
}

.info-box-content {
    padding: 5px 10px;
}

.info-box-text {
    text-transform: uppercase;
}

.dashboard-header {
    overflow: visible;
}

#dashborad-header-first {
    width: 53.5%;
}

#dashboard-header-seconde {
    width: 26.25%;
}

#dashboard-header-three {
    width: 20.25%
}

@media screen and (max-width: 1350px) {
    #dashboard-header-seconde, #dashboard-header-three {
        width: 100% !important;
        display: flex;
        justify-content: center;
    }

    #dashborad-header-first {
        display: flex;
        justify-content: end;
        width: 100%;
    }

    .dashboard-header {
        overflow: hidden;
    }
}

#custom-menu-language {
    width: 45px;
    border: none;
    margin-top: -3px;
}

.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box-number {
    display: block;
    font-weight: 700;
    font-size: 18px;
}

.dd {
    position: relative;
    display: block;
    margin: 10px;
    padding: 0;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-list {
    padding-left: 30px;
}

.dd-collapsed .dd-list {
    display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
}

.dd-handle {
    display: block;

    margin: 1px 0;
    padding: 8px 10px;
    color: #333;
    text-decoration: none;
    border: 1px solid #ddd;
    background: #fff;
}

.dd-handle:hover {
    color: #2ea8e5;
    background: #fff;
}

.dd-item > button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.dd-item > button:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}

.dd-item > button[data-nest-action="collapse"]:before {
    content: '-';
}

.dd-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
    margin-top: 0;
}

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}


/*!
 * Cropper v3.1.3
 * https://github.com/fengyuanchen/cropper
 *
 * Copyright (c) 2014-2017 Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2017-10-21T10:03:37.133Z
 */

.cropper-container {
    direction: ltr;
    font-size: 0;
    line-height: 0;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cropper-container img {
    /*Avoid margin top issue (Occur only when margin-top <= -height)
     */
    display: block;
    height: 100%;
    image-orientation: 0deg;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    width: 100%;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.cropper-wrap-box,
.cropper-canvas {
    overflow: hidden;
}

.cropper-drag-box {
    background-color: #fff;
    opacity: 0;
}

.cropper-modal {
    background-color: #000;
    opacity: .5;
}

.cropper-view-box {
    display: block;
    height: 100%;
    outline-color: rgba(51, 153, 255, 0.75);
    outline: 1px solid #39f;
    overflow: hidden;
    width: 100%;
}

.cropper-dashed {
    border: 0 dashed #eee;
    display: block;
    opacity: .5;
    position: absolute;
}

.cropper-dashed.dashed-h {
    border-bottom-width: 1px;
    border-top-width: 1px;
    height: 33.33333%;
    left: 0;
    top: 33.33333%;
    width: 100%;
}

.cropper-dashed.dashed-v {
    border-left-width: 1px;
    border-right-width: 1px;
    height: 100%;
    left: 33.33333%;
    top: 0;
    width: 33.33333%;
}

.cropper-center {
    display: block;
    height: 0;
    left: 50%;
    opacity: .75;
    position: absolute;
    top: 50%;
    width: 0;
}

.cropper-center:before,
.cropper-center:after {
    background-color: #eee;
    content: ' ';
    display: block;
    position: absolute;
}

.cropper-center:before {
    height: 1px;
    left: -3px;
    top: 0;
    width: 7px;
}

.cropper-center:after {
    height: 7px;
    left: 0;
    top: -3px;
    width: 1px;
}

.cropper-face,
.cropper-line,
.cropper-point {
    display: block;
    height: 100%;
    opacity: .1;
    position: absolute;
    width: 100%;
}

.cropper-face {
    background-color: #fff;
    left: 0;
    top: 0;
}

.cropper-line {
    background-color: #39f;
}

.cropper-line.line-e {
    cursor: e-resize;
    right: -3px;
    top: 0;
    width: 5px;
}

.cropper-line.line-n {
    cursor: n-resize;
    height: 5px;
    left: 0;
    top: -3px;
}

.cropper-line.line-w {
    cursor: w-resize;
    left: -3px;
    top: 0;
    width: 5px;
}

.cropper-line.line-s {
    bottom: -3px;
    cursor: s-resize;
    height: 5px;
    left: 0;
}

.cropper-point {
    background-color: #39f;
    height: 5px;
    opacity: .75;
    width: 5px;
}

.cropper-point.point-e {
    cursor: e-resize;
    margin-top: -3px;
    right: -3px;
    top: 50%;
}

.cropper-point.point-n {
    cursor: n-resize;
    left: 50%;
    margin-left: -3px;
    top: -3px;
}

.cropper-point.point-w {
    cursor: w-resize;
    left: -3px;
    margin-top: -3px;
    top: 50%;
}

.cropper-point.point-s {
    bottom: -3px;
    cursor: s-resize;
    left: 50%;
    margin-left: -3px;
}

.cropper-point.point-ne {
    cursor: ne-resize;
    right: -3px;
    top: -3px;
}

.cropper-point.point-nw {
    cursor: nw-resize;
    left: -3px;
    top: -3px;
}

.cropper-point.point-sw {
    bottom: -3px;
    cursor: sw-resize;
    left: -3px;
}

.cropper-point.point-se {
    bottom: -3px;
    cursor: se-resize;
    height: 20px;
    opacity: 1;
    right: -3px;
    width: 20px;
}

@media (min-width: 768px) {
    .cropper-point.point-se {
        height: 15px;
        width: 15px;
    }
}

@media (min-width: 992px) {
    .cropper-point.point-se {
        height: 10px;
        width: 10px;
    }
}

@media (min-width: 1200px) {
    .cropper-point.point-se {
        height: 5px;
        opacity: .75;
        width: 5px;
    }
}

.dt-buttons button {
    margin-right: 4px;
}

.cropper-point.point-se:before {
    background-color: #39f;
    bottom: -50%;
    content: ' ';
    display: block;
    height: 200%;
    opacity: 0;
    position: absolute;
    right: -50%;
    width: 200%;
}

.cropper-invisible {
    opacity: 0;
}

.cropper-bg {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}

.cropper-hide {
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.cropper-hidden {
    display: none !important;
}

.cropper-move {
    cursor: move;
}

.cropper-crop {
    cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
    cursor: not-allowed;
}

.m-t-10 {
    margin-top: 10px
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-10 a {
    padding: 3px;
}

.alert-box.message .info {
    display: none;
}



.form-group {
    margin-bottom: 22px;
}

.notification-body p a {
    color: #3c8dbc;
    font-weight: bold;
}

.custom-flex {
    display: flex;
    justify-content: space-between;
}

#custom-width-login {
    width: 85px;
}

ul.dropdown-menu, .dropdown-menu {
    z-index: 9999999;
}


header, .menu-bar, .banner, #services, #product-sideshow, #subscribe-banner, #footer-top, #footer-bottom, .category-nav, .section-headline, .section, .sidebar-nav, .author-profile-meta, .dashboard-content {
    max-width: inherit;
    width: 95%;
    margin: 10px auto;
    padding: 30px 20px 90px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    position: relative;
    margin-bottom: 26px;
}

.user-money{
    margin-bottom: 0px;
}

.btn-xs {
    padding: .25rem .5rem;
    font-size: 10px;
}

.tab-content {
    padding-top: 2rem;
}


label {

    color: #2b373a;
    font-weight: 700;
    margin-bottom: 14px;
    font-size: 1em;
    line-height: 1em;
    cursor: auto;
}

.button.secondary{
    background-color: #00d7b3;
}

.button.secondary:hover{
    color: #FFF;
}


.form-group.half{
    width: 49%;
    display: inline-block;
}
@media screen and (max-width: 1080px) {
    #custom-register {
        width: 90%;
    }
    .form-group.half{
        width: 100%;
    }
    .card-body {
        padding: 0px;
    }
}

.button.spaced {
    margin-bottom: 14px;
}

.button {
    font-size: 0.85em;
}

@media screen and (max-width: 1350px) {
    .dashboard-header .dashboard-header-item.title {
        padding-left: 77px;
    }
}

.user-quickview {
    width: 200px;

}

.side-menu .side-menu-title {
    font-size: 0.70em;
}

.custom-radio, .custom-checkbox {
    display: inline-block !important;
}

#product-options .sku-item{
    padding: 10px;
    border: 1px solid #00d7b3;
    border-radius: 10px;
}

.table th,.nav-tabs .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: middle;
    color: #202c2e;
    line-height: 31px;
    transition: all .15s ease-in-out;
}

.btn-default{
    background-color: #00dcb1;
    color: #FFF;
}

.card-body {
    background-color: #fbfbfb;
}

.card-header{
    background-color: #00d7b3;
    color: #FFF;
    font-weight: bold;
    font-size: 1.05rem;
}

h5 {
    color: #28373b;
}


.required-field > label::after {
    content: " *";
    color: #F44336;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #00dcb1;
}


#demo-logins a {
    width: 100px;
    display: inline-block;
    margin-bottom: 10px;
}

.btn .caret {
    margin-left: 0;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.mailbox-read-time {
    color: #999;
    font-size: 13px;
}

.mailbox-read-info h5 {
    margin: 0;
    padding: 5px 0 0 0;
    text-align: left;
}

.mailbox-read-message h5{
    display: inline-block;
    margin: 10px;
}
.mailbox-read-info {
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
}

.hidden {
    display: none;
}

.select2-container {
    width: 100% !important;
}


.query-builder .rules-group-container {
    width: 100% !important;
}
